@import './utilities/colors';

* {
	box-sizing: border-box;
	padding: 0 auto;
	margin: 0 auto;
}

body {
	background-color: $very-dark-blue;
	font-size: 15px;
	font-family: 'Overpass', sans-serif;
}

.wrapper {
	display: grid;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	width: 100vw;
	max-width: 1200px;
	height: 100vh;
}
.attribution {
	padding: 2em;
	text-align: center;
	color: hsl(228, 45%, 44%);
	font-size: 11px;
}

.rating-state {
	//margin top 145 px margin bottom 147 px, w312 px, h344 px, padding sides 23px/22px, padding top22px, padding bottom 28px
	&__container {
		position: relative;
		display: grid;
		display: none;
		padding: 1.5em;
		width: 22em;
		height: 22em;
		background-color: $dark-blue2;
		border-radius: 1em;
	}

	&__img-box {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
		width: 2.5em;
		height: 2.5em;
		background-color: $medium-grey2;
		border: 1px solid transparent;
		border-radius: 50%;
	}

	&__img {
		position: absolute;
		width: 0.8em; //13px
		height: 0.8em; 
	}

	&__header {
		margin: 0;
		color: $white;
		font-weight: 400; //fz 18px
	}

	&__txt {
		padding-bottom: 1em;
		color: $medium-grey;
		font-size: 0.8rem; //12px
		font-weight: 400;
	}

	&__form {
		margin: 0;
	}
	&__circles-wrapper {
		margin: 0;
		padding-bottom: 1em;
		display: flex;
		justify-content: space-between;
	}
	&__circle {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
		width: 3em;
		height: 3em; ////41px
		border-radius: 50%;
		border: 0 solid transparent;
		background-color: $medium-grey2;
		color: $light-grey;
		font-size: 0.8rem; //12px
		transition: background-color 0.3s, color 0.3s;

		&:hover {
			background-color: $orange;
			color: $white;
		}
	}

	&__btn {
		width: 100%; //267 px
		height: 3em; //44px
		background-color: $orange;
		color: $white2;
		border-radius: 20em;
		border: 1px solid transparent;
		text-transform: uppercase;
		letter-spacing: 1px; //fz 12px
		font-weight: 700;
		cursor: pointer;
		transition: background-color 0.3s, color 0.3s;

		&:hover {
			background-color: $white;
			color: $orange;
		}
	}
}

.thankyou-state { //padding top 146px, bottom 143 px, 
	&__container { //padding top 34px padding bottom 45 px padding sides 28px
		position: relative;
		display: grid;
		padding: 1.2em;
		width: 22em;// 310px
		height: 22em;// 345px
		background-color: $dark-blue2;
		border-radius: 1em;
	}
	&__img {
		margin-top: 1em;
		width: 50%; //136px
		height: 80%; //91px
	}

	&__box {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 60%; //157px
		height: 2.3em;// 32px
		background-color: $medium-grey2;
		border-radius: 2em;
	}

	&__txt {
		color: $orange2; 
	}

	&__header {
		color: $white;
		font-size: 1.5rem;
		font-weight: 400;
	}

	&__txt-grey {
		color: $medium-grey3;
		text-align: center; //fz 14px
	}
}
