@import './utilities/colors';

* {
	box-sizing: border-box;
	padding: 0 auto;
	margin: 0 auto;
}

body {
	background-color: $very-dark-blue;
	font-size: 15px;
	font-family: 'Overpass', sans-serif;
}

.wrapper {
	display: grid;
	align-items: center;
	justify-content: center;
	width: 100vw;
	max-width: 1200px;
	height: 100vh;
}
.attribution {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	padding: 1.33rem;
	text-align: center;
	color: hsl(228, 45%, 44%);
	font-size: 0.8rem;
}

.rating-state__container,
.thankyou-state__container {
	position: relative;
	display: grid;
	padding: 1.33rem;
	width: 20.67rem;
	height: 22.67rem;
	background-color: $dark-blue2;
	border-radius: 1em;
}
.rating-state {
	&__img-box {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
		width: 2.5em;
		height: 2.5em;
		background-color: $medium-grey2;
		border: 1px solid transparent;
		border-radius: 50%;
	}

	&__img {
		position: absolute;
		width: 0.8em;
		height: 0.8em;
	}

	&__header {
		padding-top: 1rem;
		margin: 0;
		color: $white;
		font-weight: 400; //fz 18px
	}

	&__txt {
		padding: 1rem auto;
		color: $medium-grey;
		font-size: 0.8rem;
		font-weight: 400;
	}

	&__form {
		margin: 0;
	}
	&__circles-wrapper {
		padding-bottom: 1em;
		padding-top: 0.66rem;
		display: flex;
		justify-content: space-between;
	}
	&__circle {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
		width: 2.66rem;
		height: 2.66rem;
		border-radius: 50%;
		border: 0 solid transparent;
		background-color: $medium-grey2;
		color: $light-grey;
		font-size: 0.8rem;
		transition: background-color 0.3s, color 0.3s;
		cursor: pointer;

		&:hover {
			background-color: $orange;
			color: $white;
		}
	}
	&__circle-grey {
		background-color: $medium-grey;
		color: $white;
	}

	&__btn {
		width: 100%;
		height: 3rem;
		background-color: $orange;
		color: $white2;
		border-radius: 20em;
		border: 1px solid transparent;
		font-size: 0.8rem;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 700;
		cursor: pointer;
		transition: background-color 0.3s, color 0.3s;

		&:hover {
			background-color: $white;
			color: $orange;
		}
	}
}

.thankyou-state {
	&__img {
		margin-top: 1em;
		width: 50%;
		height: 80%;
	}

	&__box {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 60%;
		height: 2.3em;
		background-color: $medium-grey2;
		border-radius: 2em;
	}

	&__txt {
		color: $orange2;
	}

	&__header {
		color: $white;
		font-size: 1.5rem;
		font-weight: 400;
	}

	&__txt-grey {
		color: $medium-grey3;
		text-align: center;
	}
}

.deactivate {
	display: none;
}

@media (min-width: 768px) {
	.rating-state__container,
	.thankyou-state__container {
		height: 22rem;
		width: 22rem;
		padding: 2rem 2rem 1.5rem;
	}

	.rating-state {
		&__btn {
			height: 2.2rem;
		}
	}
}

