//### Primary

$orange: rgb(251, 116, 19);
$orange2: rgba(251, 116, 19, 0.6);
//### Neutral

$white: hsl(0, 0%, 100%);
$white2: rgba(255, 255, 255, 0.7);
$light-grey: hsl(217, 12%, 63%);
$medium-grey: hsl(216, 12%, 54%);
$medium-grey2: rgba(124, 135, 152, 0.1);
$dark-blue: hsl(213, 19%, 18%);
$dark-blue2: rgba(37, 45, 55, 0.6);
$very-dark-blue: hsl(216, 12%, 8%);
$very-dark-blue2: rgba(18, 20, 23, 0.3);